body{
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-titel{
    color: var(--dark-01, #181818);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}
.navt-titel-r{
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    color: aliceblue;
    padding: 15px 35px;

}
nav > ul {
    display: flex;
    align-items: center;
    
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav  a{
    text-decoration: none;
    color:#474747;
}

/* header style */
.header{
    background-color: aliceblue;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 500px;
}